canvas {
  border: 3px solid #c3c3c3;
}

#toolbar {
  padding: 10px 0;
}

#clear {
  border: 1px solid #c3c3c3;
  background-color: #e6e6e6;
  font-weight: bold;
  width: 100px;
  height: 50px;
  border-radius: 0;
}
